.git
.gitignore
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
uploads/*
outputs/*
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.bmp
*.tiff
*.heic
*.raw
*.psd
*.exr
*.ico
*.svg
*.eps
*.pdf
*.ai
*.cdr
*.apng
*.svgz
*.dds
*.tga
*.jfif
*.avif
*.pic
*.xcf
*.dng
*.pcx 